@import "tailwindcss";

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a5b4fc;
    width: 5px;
    border-radius: 10px;
  }

  .custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #312e81;
  }
  .transparent-background {
       background: rgba(0, 0, 0, 0.6);
       z-index: 99;
  }
  .transparent-background-dark {
     background: rgba(0, 0, 0, 0.2);
     z-index: 99;
  }
  .quicksand { 
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .animation {
       transform: scale(0.7);
       animation: popUp 0.5s forwards;
  }
  @keyframes popUp {
  to {
    transform: scale(1);
  }
}

}